<div *ngIf="cargado" class="container animated fadeIn">
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">{{ planeta.name }}</h5>
      <ul style="list-style-type: none">
        <li>Rotation period: {{ planeta.rotation_period }}</li>
        <li>Orbital period: {{ planeta.orbital_period }}</li>
        <li>Diameter: {{ planeta.diameter }}</li>
        <li>Climate: {{ planeta.climate }}</li>
        <li>Gravity: {{ planeta.gravity }}</li>
        <li>Terrain: {{ planeta.terrain }}</li>
        <li>Surface water: {{ planeta.surface_water }}</li>
        <li>Population: {{ planeta.population }}</li>
      </ul>
    </div>
  </div>
</div>

<a [routerLink]="['/planetas']"><i class="back fas fa-chevron-left fa-7x"></i></a>