/* You can add global styles to this file, and also import other style files */
.router {
  margin: 50px 20px 80px 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0px 15px 0px;
  color: white;
}

.footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

