<h3 class="title">Bienvenido a Star Wars App</h3>
<hr>
<p>Se trata de una simple aplicación Angular que utiliza la API de información sobre Star Wars (<a href="https://swapi.dev/" target="_blank">SWAPI</a>) para mostrar contenido y para ensayar el uso de Angular Universal para SSR</p>
<p>Para poder testear la renderización de Open Graph, se recomienda que instale la extension <a href="https://chrome.google.com/webstore/detail/localhost-open-graph-chec/gcbnmkhkglonipggglncobhklaegphgn" target="_blank">Localhost Open Graph Checker</a> en Google Chrome</p>